.searchBar {
  width: 475px;
}

.list-group {
  padding-top: 25px;
}

.searchBar:focus {
  width: 100%;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.list-group-item {
  border-color: white;
  padding: 30px;
}

.cardTitle {
  font-size: 20px;
}

btn {
  float: right;
  color: gold;
}

.remove {
  float: right;
}
