.searchBar {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchBar:focus {
  width: 100%;
}

/* .list {
  text-align: left;
  max-width: 750px;
  margin: auto;
} */
